@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: "Starjedi", system-ui, sans-serif;
    }
    @font-face {
        font-family: "Starjedi";
        src: url(./assets/Starjedi.ttf);
    }
}

@layer components {
    .cards {
        @apply w-56 h-96 bg-center bg-cover flex items-end rounded-lg cursor-pointer duration-500 p-1.5 hover:scale-105
    }
    .character-name-bg {
        @apply w-full h-7 bg-black/50 flex items-center justify-center rounded-lg
    }
    .character-name {
        @apply text-yellow-400 text-base 
    }
    .character-image {
        @apply w-48 h-48 rounded-full bg-cover
    }
    .character-details {
        @apply text-base font-light text-yellow-400
    }
}

.character-image {
    background-position: 50% 10%;
}

button {
    border: 1px solid #000;
    outline: none;
    transition: 0.3s;
}